<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>
<div class="message-content">
  <h3>Olá, Thaiane maisa</h3>
  <p>Sei que está na hora do almoço</p>
  <p>queria muito estar aí, acho que pediriamos um bandeco e você não daria conta de comer o seu sozinha e a gente dividiria</p>
  <p>tava no meio dos meus estudos e você não saia da minha cabeça</p>

  <p>vim aqui só pra dizer que to com muitas sdds e queria ver seu sorriso</p>

  <p>no Link abaixo está uma mensagem escondida na url tenta achar</p>
  <p>
    <a href="http://www.coracaodomomon.com.br/momon-ama-muito-a-kuki">link secreto</a>
  </p>
  <p>Com carinho e atenção!<br />
    <strong>Seu momon</strong>
  </p>
</div>
